body {
  position: relative;
  height: 100%;
}
body.overthrow-open {
  overflow: hidden;
}
html {
  position: relative;
}
html.lte8 {
  position: inherit;
}
.overflow-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.overthrow {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  display: none;
}
.overthrow-transitions .overthrow .overthrow-inner {
  -webkit-transition: all 200ms cubic-bezier(0.5, 0, 0.6, 1);
  /* older webkit */
  -webkit-transition: all 200ms cubic-bezier(0.5, 0, 0.6, 1.3);
  -moz-transition: all 200ms cubic-bezier(0.5, 0, 0.6, 1.3);
  -o-transition: all 200ms cubic-bezier(0.5, 0, 0.6, 1.3);
  transition: all 200ms cubic-bezier(0.5, 0, 0.6, 1.3);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.6, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.6, 1.3);
  -moz-transition-timing-function: cubic-bezier(0.5, 0, 0.6, 1.3);
  -o-transition-timing-function: cubic-bezier(0.5, 0, 0.6, 1.3);
  transition-timing-function: cubic-bezier(0.5, 0, 0.6, 1.3);
  /* custom */
}
.overthrow-transitions .overthrow .overthrow-content {
  -webkit-transition: all 200ms cubic-bezier(0.5, 0, 0.6, 1);
  /* older webkit */
  -webkit-transition: all 200ms cubic-bezier(0.5, 0, 0.6, 1.3);
  -moz-transition: all 200ms cubic-bezier(0.5, 0, 0.6, 1.3);
  -o-transition: all 200ms cubic-bezier(0.5, 0, 0.6, 1.3);
  transition: all 200ms cubic-bezier(0.5, 0, 0.6, 1.3);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.6, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.6, 1.3);
  -moz-transition-timing-function: cubic-bezier(0.5, 0, 0.6, 1.3);
  -o-transition-timing-function: cubic-bezier(0.5, 0, 0.6, 1.3);
  transition-timing-function: cubic-bezier(0.5, 0, 0.6, 1.3);
  /* custom */
}
.overthrow-enable .overthrow {
  position: fixed;
  display: block;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAAA1BMVEX///+nxBvIAAAAAXRSTlPyE1VLVgAAABhJREFUeF7twDEBAAAAwiD7p7bFLlgKgAMFeAAB5q97lAAAAABJRU5ErkJggg=='); 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.lte8 .overthrow-enable .overthrow {
  width: 100%;
}
.ie6 .overthrow-enable .overthrow {
  background: #ffffff;
}
.overthrow-transitions .overthrow-enable .overthrow .overthrow-inner {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
.overthrow-trans-in .overthrow {
  opacity: 1;
}
.overthrow-transitions .overthrow-trans-in .overthrow .overthrow-inner {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.overthrow-trans-out .overthrow {
  opacity: 1;
}
.overthrow-trans-out .overthrow .overthrow-content {
  opacity: 0;
}
.overthrow-transitions .overthrow-trans-out .overthrow .overthrow-inner {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
.overthrow-show .overthrow {
  opacity: 1;
}
.overthrow-hide .overthrow {
  opacity: 0;
}
.overthrow .overthrow-shim {
  display: inline-block;
  height: 100%;
  width: 0px;
  vertical-align: middle;
  position: relative;
}
.overthrow .overthrow-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  z-index: 1;
}
.overthrow .overthrow-outer {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.ie6 .overthrow .overthrow-outer {
  width: 700px;
}
.overthrow .overthrow-inner {
  position: relative;
  padding: 30px;
}
@media (max-width: 700px) {
  .overthrow .overthrow-inner {
    padding: 30px 0;
  }
}
.overthrow .overthrow-content {
  background: #ffffff;
  padding: 30px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px) {
  .overthrow .overthrow-content {
    border-right: none;
    border-left: none;
    border-radius: 0px;
    padding: 30px 4.28571429%;
  }
}
.overthrow .overthrow-close {
  position: absolute;
  top: 0;
  right: 30px;
}
@media (max-width: 700px) {
  .overthrow .overthrow-close {
    right: 20px;
  }
}
