/* Layout styles for example page */
html { height: 100%; }

body {
	font-family: sans-serif;
	color: #666;
	font-size: 15px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
	background: #fff;
}

a {
	color: #222;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	position: relative;
}

a:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

a:active {
	top: 1px;
	color: #c60;
	border-bottom: 1px solid rgba(200, 100, 0, 0.35);
}

a.active {
	color: #f60;
	border-bottom: 1px solid rgba(200, 100, 0, 0.35);
}

article {
	display: block;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	padding: 30px 30px 60px;
}

@media (max-width: 600px) {
	article {
		padding: 20px 20px 40px;
	}
}

h1 {
	margin: 0 0 10px;
	font-size: 32px;
	line-height: 36px;
	color: #222;
}

h2 {
	margin: 40px 0 20px;
	font-size: 22px;
	line-height: 20px;
	color: #222;
}

h2 small {
	font-weight: normal;
	font-size: 17px;
}

p {
	margin: 0 0 10px;
}

.intro p { font-size: 17px; }

.container {
	overflow: hidden;
}

pre {
	background: #eee;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	margin: 20px auto;
	padding: 15px;
	font-size: 13px;
	max-width: 800px;
	overflow: auto;
}

code {
	font-family: Consolas, Monaco, monospace;
	font-size: 13px;
}

table {
	border-collapse: collapse;
	margin-bottom: 2em;
}

th, td {
	border: 1px solid #ddd;
	padding: 7px 10px;
}